registry "https://registry.npmmirror.com"
disturl "https://npmmirror.com/dist"

sass_binary_site "https://npmmirror.com/mirrors/node-sass"
phantomjs_cdnurl "https://npmmirror.com/mirrors/phantomjs"
electron_mirror "https://npmmirror.com/mirrors/electron"
sqlite3_binary_host_mirror "https://npmmirror.com/mirrors/sqlite3"
profiler_binary_host_mirror "https://npmmirror.com/mirrors/node-inspector"
chromedriver_cdnurl "https://npmmirror.com/mirrors/chromedriver"
puppeteer_download_host "https://npmmirror.com/mirrors/puppeteer"
selenium_cdnurl "https://npmmirror.com/mirrors/selenium"